* {
  font-family: 'Andika', sans-serif;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: Maroon;
  display: inline-block;
  z-index: 1;
}

.nav li {
  display: inline;
  float: center;
  border-right: 1px solid LightGray;
}

.nav li a{
  color: LightGray;
  display: inline;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li:last-child {
  border-right: none;
}

h1 {
  text-align: center;
  padding-top: 200px;
}

h2 {
  text-align: center;
  padding-top: 75px;
}
  
