* {
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: url("https://0.s3.envato.com/files/125777948/07.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 1000px;
  min-height: 800px;
}

.nav {
  font-family: 'Andika', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: -webkit-linear-gradient(#737373, #000000);
  display: inline-block;
  z-index: 1;
}

.nav li {
  display: inline;
  float: center;
  margin-left: 0;
  margin-right: 0;
}

.nav li a{
  color: White;
  float: center;
  margin-left: 0;
  margin-right: 0;
  display: inline;
  padding: 14px 16px 0px 16px;
  font-size: 125%;
  text-decoration: none;
}

.nav li a:hover {
  background-image: -webkit-linear-gradient(#737373, Purple);
}

.header-box {
  border: none;
  font-family: 'Laila', sans-serif;
  text-align: center;
  padding: 200px 15% 400px 15%;
  border-radius: 50px;
  min-height: 100px;
  min-width: 600px;
  color: Black;
}

#home h2{
  font-size: 200%;
  padding-bottom: 25px;
  margin-top: 0;
}

#name {
  font-size: 400%;
  border-bottom: 2px solid Purple;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}

h2#title {
  font-family: 'Andika', sans-serif;
  text-align: center;
  margin: 25px 35% 10px 35%;
  padding-top: 25px;
  border-bottom: 2px solid Purple;
  font-size: 300%;
  letter-spacing: .15em;
}

.section {
  margin: 0px 30px 30px 30px;
  min-width: 1000px;
}

.last-section {
  margin-bottom: 40px;
}

.odd {
  background: rgba(173, 216, 230, .6);
  color: Black;
}

.even {
  background: rgba(255, 255, 255, .6);
  color: Black;
}

.bio-parts {
  display: flex;
}

.left-bio {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 25px;
  display: inline-block;
  width: 30%;
}
.bio-parts h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 170%;
  margin: 0 15% 10px 15%;
}
.left-bio p {
  margin: 0px 20% 20px 20%; 
}
.left-bio p.field {
  font-weight: bolder;
  letter-spacing: .1em;
}
.left-bio p.attr {
  text-align: center;
  font-size: 150%;
}

.mid-bio {
  margin: 0px 0px 25px 0px;
  width: 30%;
  display: inline-block;
}
.mid-bio img {
  margin: 10px auto;
  display: block;
  border: 2px solid Black;
  border-radius: 75px;
  height: 250px;
  width: 250px;
}
.mid-bio p {
  margin: 0px 5% 0px 5%;
  font-family: 'Laila', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.mid-bio p.quote {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid Black;
}

.right-bio {
  font-family: 'Ubuntu', serif;
  margin: 0px 15px 25px 0px;
  width: 40%;
}

.right-bio p {
  line-height: 1.4em;
  margin: 5px 5%;
}

.right-bio p a {
  text-decoration: none;
}

.table {
  list-style-type: none;
  padding-bottom: 10px;
}

.exp {
  font-family: 'Muli', sans-serif;
}

.row {
  display: flex;
  margin-bottom: 50px;
  margin-right: 5%;
}

.left {
  font-family: 'Muli', sans-serif;
  margin: 10px 0px 10px 0px;
  width: 450px;
  max-width: 450px;
  min-width:450px;
  vertical-align: left;
  display: inline-block;
}

h4#workplace {
  font-family: 'Muli', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 175%;
  margin: 0 0 0 0;
}

.left p#duration {
  margin: 5px 0px 0px 7.5%;
}

.left p#position {
  margin: 5px 0px 0px 7.5%;
  font-size: 125%;
}

.left img {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 25px;
  display: block;
  height: 175px;
  width: 275px;
  border-radius: 35px;
}

.right {
  margin-top: 10px;
  margin-left: 5%;
  display: inline-block;
}

.right p#location {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  font-style: italic;
}

.right p#head {
  margin-top: 10px;
  letter-spacing: .1em;
  margin-bottom: 10px;
  font-weight: bolder;
}

.right li {
  margin-top: 5px;
  font-size: 95%;
}

.edu {
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  padding-bottom: 10px;
}

p.edu {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4#edu {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 175%;
  margin: 0 0 0 0;
}

.desc {
  margin: 15px auto;
  line-height: 1.4em;
}

.courses li {
  display: inline;
  margin-right: 7.5px;
}

.thesis {
  text-align: center;
  font-style: italic;
  margin: 0px;
}

img.colgate {
  border-radius: none;
  height: 250px;
  width: 250px;
}

div.skills {
  font-family: 'Muli', sans-serif;
  display: flex;
}

div.col {
  display: inline-block;
  width:50%;
  padding: 10px 5%;
  text-align: center;
}

.col h4 {
  margin: 0px 10% 20px 10%;
  font-weight: bold;
  font-size: 150%;
  padding: 5px;
  border-bottom: 1px solid Black;
}

.col p {
  font-size: 110%
}

.proj {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 25px;
  margin: 10px 5%;
  text-align: left;
}
p.proj {
  line-height: 1.35em;
  margin: 10px 15%;
}

.converters {
  display: flex;
  justify-content: center;
  margin: 10px 25%;
}

.conv {
  width: 100%;
  display: block;
  border: 2px solid Purple;
  border-radius: 10px;
}

.conv h2 {
  width: 100%;
  margin: 15px 0;
}
.sect {
  vertical-align: top;
  text-align: center;
  display: block;
  width : 100%;
  margin-bottom: 10px;
}

button {
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding-bottom: 4px;
  letter-spacing: .1em;
  border-radius: 10px;
  border: 0;
  background-image: -webkit-linear-gradient(White, Purple);
}

button:active {
  background-image: none;
  background-color: White;
}

p.note {
  margin-left: 5px;
  font-size: 50%;
  font-weight: bold;
  text-align: left;
}

.answer {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  margin: 10px 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: LightGray;
}

.error {
  color: red;
}

.roman {
  font-family: 'Palatino', serif;
}

.contact {
  font-family: 'Andika', sans-serif;
  list-style-type: none;
  height: 2.5em;
  padding: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: -webkit-linear-gradient(#000, #737373);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: inline-block;
}

.contact li {
  color: White;
  display: inline;
  float: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 125%;
  padding: 14px 16px 0px 16px;
}

.contact li a{
  color: White;
  text-decoration: none;
}

.contact li a:hover {
  color: #ff66ff;
}

.podbar {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:50px;
    width: 60%;
    min-width: 700px;
    margin-left: 20%;
    margin-right: 20%;
}
