* {
  font-family: 'Andika', sans-serif;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: Gray;
  display: inline-block;
  z-index: 1;
}

.nav li {
  color: White;
  display: inline;
  border-right: 1px;
}
